# Database and DBMS

* ### A database is an organised collection of data. Database arrange information in such a way that any specific piece of information can be easily accessed.

* ### Database Management System is software to store, retrieve, define and manage data in a database.

# Types of Databases:

* ### Centralised Database - Data stored at a centralised location and the users from different locations can access this data. Example: Google, facebook etc.

* ### Distributed Database - Various portions of a database are stored in multiple different locations. It can be replicated and distributed among varous points in a network.

* ### Personal Database - Stored on personal computers which are small and easily manageable.

* ### Operational Database - Information related to operations of an enterprise is stored inside this database. Functional lines like marketing, employee relations, customer service etc.

* ### Relational Database - It represents data sets from multiple tables which are stored different types of information of any things. For example: Facebook Use -> Likes, Comments, Posts.

* ### Cloud Database - A cloud database has been built for such virtualized environment. There are various benefits of cloud databases, some of which are ability to pay for storage capacity and bandwidth (maximum data transfer rate of a network - Mbps) on a per user basis, and they provide scalability on demand, along with high avaialability.

# Design/Structure based database:

* ### SQL - Structure Query Language
* ### NoSQL - Document Based Database

## Difference between SQL and NoSQL
* ### SQL databases use Structure Query Language and have pre-defined schema while NoSQL have no schema.
* ### SQL databases are table based while NoSQL databases are document based data stores data in the form of key-value pair.

# Operations of Databases:
* ### Create
* ### Retrieve
* ### Update
* ### Delete

# CRUD Queries:
* ### Create Database - create database database_name;
* ### Select Database - use database_name;
* ### Create Table - create table table_name (field_name data_type(size), ..);
* ### Insert Record - insert into table_name (field_name, ...) values (field_value, ...);
* ### Update Record - update table_name set field_name = field_value where condition;
* ### Delete Record - delete from table_name where condition;
* ### Drop Table - drop table table_name;
* ### Drop Database - drop database database_name;

# Table Operations:
* ### Add New Field - alter table table_name add new_field_name data_type;
* ### Delete Field - alter table table_name drop column field_name;
* ### Modify Field:
> ### 1. SQL Server - alter table table_name alter column field_name data_type;
> ### 2. MySQL - alter table table_name modify column field_name data_type;
> ### 3. Oracle 10G/later - alter table table_name modify field_name data_type;

# Other Basic Queries:
* ### Show all databases - show databases;
* ### Select database - use database_name;
* ### Show all tables - show tables;
* ### Show table structure - describe table_name;

# Pre-requesite for Database with python
> ### PyMySQL or mysql-client
> ### 1. mysql-client - pip install mysql-client
> ### 2. pymysql - pip install pymysql
> ### Note: PIP means - package installer for Python.

# Some configurations for mysql
> ### host - localhost
> ### user - root
> ### port - 3306

# Components of Database System
> ### Users- People who interact with the database:
> * ### Application Programmers.
> * ### End Users.
> * ### Data Administrators.

> ### Software- Lies between the stored data and the users:
> * ### DBMS
> * ### Application Software
> * ### User Interface

                              Users
                               ||
                               ||
                    ___________||___________
                   |                        |
### Data ------------| COMPONENTS OF DATABASE |-----------| Software
                   |___________  ___________|
                               ||
                               ||
                               ||
                            Hardware


## Follow the steps to use SQLite3 database:
- ### import sqlite3 as mydb
- ### db = mydb.connect("database_name.db")
- ### cmd = "create table users(email varchar(300) primary key,fname varchar(300), sname varchar(300),password varchar(500))"
- ### cursor = db.cursor()
- ### cursor.execute(cmd)

## Follow the steps to use MySQL database:
- ### import pymysql as sql
- ### db = sql.connect(host='localhost', port=3306, user='root', password='', database='data')
- ### c = db.cursor()
- ### cmd = "create table users(email varchar(300) primary key,fname varchar(300), sname varchar(300),password varchar(500))"
- ### c.execute(cmd)
- ### db.commit()

### Note: A Local Server called MySQL server is required to connect MySQL. Here, we are using XAMPP Server.

# Some Meanings about DB
## What is Cursor()?
> ### A database cursor is a control structure that enables traversal over the records in a database. Cursors facilitate subsequent processing in conjunction with the traversal, such as retrieval, addition and removal of database records.

## What is execute()?
> ### Executes a command string or character string within a Transact-SQL batch, or one of the following modules: system stored procedure, user-defined stored procedure, CLR stored procedure, scalar-valued user-defined function, or extended stored procedure.

## What is Commit()?
> ### A commit is the updating of a record in a database. In the context of a database transaction, a commit refers to the saving of data permanently after a set of tentative changes. A commit ends a transaction within a relational database and allows all other users to see the changes.

In [1]:
import sqlite3 as sql

In [2]:
db = sql.connect("users.db")

In [3]:
cur = db.cursor()

In [4]:
cmd = "create table students(id int, name varchar(25));"

In [5]:
cmd

'create table students(id int, name varchar(25));'

In [6]:
cur.execute(cmd)

OperationalError: table students already exists

In [7]:
cur.execute("insert into students(id, name) values(1, 'jalak')")

In [8]:
db.commit()

In [9]:
cur.execute('select * from students;')

In [10]:
cur.fetchall()

In [11]:
cur.execute('select * from students;')

In [12]:
cur.fetchall()

In [13]:
cur.execute("insert into students(id, name) values(2, 'krupesh')")

In [14]:
db.commit()

In [15]:
cur.execute('select * from students;')

In [16]:
cur.fetchall()

In [17]:
cur.fetchall()

In [18]:
cur.execute('select * from students;')

In [19]:
data = cur.fetchall()

In [20]:
data

In [21]:
for i in data:
  print(i)

In [22]:
for i,j in data:
  print(i,j)

In [23]:
cur.execute('update students set name = "jalak vora" where id = 1;')

In [24]:
db.commit()

In [8]:
cur.execute("select * from students;")

In [9]:
cur.fetchone()

(1, 'jalak vora')

In [10]:
cur.fetchone()

(2, 'krupesh')

In [11]:
cur.fetchone()

In [12]:
# delete record

cur.execute('delete from students where id = 1')

In [13]:
db.commit()

In [14]:
# drop table

cur.execute('drop table students;')

In [15]:
# create a table

cmd = '''create table students(id int, name varchar(25), city varchar(25))'''
cur.execute(cmd)

In [16]:
# inserting record

cmd = '''insert into students(id, name, city) values(1, "jalak", "ahmedabad")'''
cur.execute(cmd)

In [17]:
db.commit()

In [18]:
data = {
    'id': 2,
    'name': 'simar',
    'city': 'ajmer'
}

In [19]:
data.keys()

dict_keys(['id', 'name', 'city'])

In [20]:
data.values()

dict_values([2, 'simar', 'ajmer'])

In [21]:
tuple(data.values())

(2, 'simar', 'ajmer')

In [22]:
cmd = f'''insert into students{tuple(data.keys())} values{tuple(data.values())}'''

In [23]:
cmd

"insert into students('id', 'name', 'city') values(2, 'simar', 'ajmer')"

In [24]:
cur.execute(cmd)

In [25]:
db.commit()

In [26]:
data = [
    {
        'id': 3,
        'name': 'krupesh',
        'city': 'ahmedabad'
    },
    {
        'id': 4,
        'name': 'mittul',
        'city': 'ahmedabad'
    },
    {
        'id': 5,
        'name': 'kapil',
        'city': 'ajmer'
    }
]

In [27]:
for d in data:
    print(d)

{'id': 3, 'name': 'krupesh', 'city': 'ahmedabad'}
{'id': 4, 'name': 'mittul', 'city': 'ahmedabad'}
{'id': 5, 'name': 'kapil', 'city': 'ajmer'}

In [28]:
for d in data:
    print(d.keys(), d.values())

dict_keys(['id', 'name', 'city']) dict_values([3, 'krupesh', 'ahmedabad'])
dict_keys(['id', 'name', 'city']) dict_values([4, 'mittul', 'ahmedabad'])
dict_keys(['id', 'name', 'city']) dict_values([5, 'kapil', 'ajmer'])

In [30]:
for d in data:
    keys = tuple(d.keys())
    values = tuple(d.values())
    cmd = f'''insert into students{keys} values{values}'''
    print(cmd)

insert into students('id', 'name', 'city') values(3, 'krupesh', 'ahmedabad')
insert into students('id', 'name', 'city') values(4, 'mittul', 'ahmedabad')
insert into students('id', 'name', 'city') values(5, 'kapil', 'ajmer')

In [31]:
for d in data:
    keys = tuple(d.keys())
    values = tuple(d.values())
    cmd = f'''insert into students{keys} values{values}'''
    # print(cmd)
    cur.execute(cmd)
else:
    db.commit()

In [ ]:
# apply reusability - creating function for each operation

# insert_record(tbl_name, **fields)
# update_record(tbl_name, fld_name, new_val, {id:val}) - update tbl_name set fld_name = new_val where id = val
# delete_record(tbl_name, fld_name, condition)

In [32]:
# insert_record

def insert_record(tbl_name, **fields_values):
    print(tbl_name, fields_values)

In [33]:
insert_record('students', id=1, name='krupesh', city='ahmedabad')

students {'id': 1, 'name': 'krupesh', 'city': 'ahmedabad'}

In [34]:
def insert_record(tbl_name, **fields_values):
    keys = tuple(fields_values.keys())
    values = tuple(fields_values.values())
    cmd = f'''insert into students{keys} values{values}'''
    print(cmd)

In [35]:
insert_record('students', id=1, name='krupesh', city='ahmedabad')

insert into students('id', 'name', 'city') values(1, 'krupesh', 'ahmedabad')

In [48]:
def insert_record(tbl_name, **fields_values):
    keys = tuple(fields_values.keys())
    values = tuple(fields_values.values())
    cmd = f'''insert into {tbl_name}{keys} values{values}'''
    cur.execute(cmd)
    db.commit()

In [37]:
insert_record('students', id=6, name='xyz', city='ahmedabad')

In [38]:
insert_record('students', id=6, state='xyz', city='ahmedabad')

OperationalError: table students has no column named state

In [39]:
try:
    insert_record('students', id=6, state='xyz', city='ahmedabad')
except Exception as err:
    print(err)

table students has no column named state

In [42]:
cur.execute('pragma table_info(students)')

In [41]:
cur.fetchall()

[(0, 'id', 'INT', 0, None, 0),
 (1, 'name', 'varchar(25)', 0, None, 0),
 (2, 'city', 'varchar(25)', 0, None, 0)]

In [43]:
tbl_info = cur.fetchall()

In [44]:
tbl_info

[(0, 'id', 'INT', 0, None, 0),
 (1, 'name', 'varchar(25)', 0, None, 0),
 (2, 'city', 'varchar(25)', 0, None, 0)]

In [45]:
for i in tbl_info:
    print(i)

(0, 'id', 'INT', 0, None, 0)
(1, 'name', 'varchar(25)', 0, None, 0)
(2, 'city', 'varchar(25)', 0, None, 0)

In [46]:
for i in tbl_info:
    print(i[1])

id
name
city

In [49]:
insert_record('users', id=6, name='xyz', city='ahmedabad')

OperationalError: no such table: users

In [52]:
def insert_record(tbl_name, **fields_values):
    keys = tuple(fields_values.keys())
    values = tuple(fields_values.values())
    try:
        cmd = f'''insert into {tbl_name}{keys} values{values}'''
        cur.execute(cmd)
        db.commit()
    except Exception as err:
        if 'no such table' in err.args[0]:
            print(f"{tbl_name} doesn't exist.")
        elif 'no column named' in err.args[0]:
            invalid_fld = err.args[0].split()[-1]
            cur.execute('pragma table_info(students)')
            tbl_info = cur.fetchall()
            avl_flds = []
            for i in tbl_info:
                avl_flds.append(i[1])
                
            print(f'"{invalid_fld}" is not defined in table {tbl_name}.')
            print(f'Please follow the mentioned fields available in table {tbl_name}: {avl_flds}.')

In [53]:
insert_record('users', id=6, name='xyz', city='ahmedabad')

users doesn't exist.

In [54]:
insert_record('students', id=6, age='xyz', city='ahmedabad')

"age" is not defined in table students.
Please follow the mentioned fields available in table students: ['id', 'name', 'city'].

In [3]:
try:
    print(city)
except Exception as err:
    print(err, err.args[0])

name 'city' is not defined name 'city' is not defined

In [13]:
# update_record(tbl_name, fld_name, new_val, {id:val})

def update_record(tbl_name, fld_name, new_val, **condition):
    key = list(condition.keys())[0]
    value = list(condition.values())[0]
    cmd = f'''update {tbl_name} set {fld_name} = '{new_val}' where {key} = {value}'''
    print(cmd)

In [14]:
update_record('students', 'name', 'jalak vora', id=1)

update students set name = 'jalak vora' where id = 1

In [10]:
list({'id': 2}.keys())[0]

'id'

In [15]:
import sqlite3 as sql
db = sql.connect('users.db')
cur = db.cursor()

In [16]:
def update_record(tbl_name, fld_name, new_val, **condition):
    key = list(condition.keys())[0]
    value = list(condition.values())[0]
    cmd = f'''update {tbl_name} set {fld_name} = '{new_val}' where {key} = {value}'''
    cur.execute(cmd)
    db.commit()

In [17]:
update_record('students', 'name', 'simarjeet singh', id=2)

In [45]:
d = {'id': 2, 'city': 'ajmer', 'pincode':308001}

In [46]:
# where name = 2 and city = ajmer
d.items()

dict_items([('id', 2), ('city', 'ajmer'), ('pincode', 308001)])

In [47]:
q = 'where '
for i in d.items():
    q += f"{i[0]} = {i[1]} and "

print(q)

where id = 2 and city = ajmer and pincode = 308001 and

In [48]:
q = []
for i in d.items():
    if type(i[1]) == int:
        q.append(f"{i[0]} = {i[1]}")
    else:
        q.append(f"{i[0]} = '{i[1]}'")

w = 'where '

c = ' and '.join(q)

print(w + c)

where id = 2 and city = 'ajmer' and pincode = 308001

In [38]:
type(2) == int

True

In [60]:
def update_record(tbl_name, fld_name, new_val, **condition):
    if len(condition) <= 1:
        key = list(condition.keys())[0]
        value = list(condition.values())[0]
        cmd = f'''update {tbl_name} set {fld_name} = '{new_val}' where {key} = {value}'''
    elif len(condition) > 1:
        q = []
        for i in condition.items():
            if type(i[1]) == int:
                q.append(f"{i[0]} = {i[1]}")
            else:
                q.append(f"{i[0]} = '{i[1]}'")

        c = ' and '.join(q)
        
        cmd = f'''update {tbl_name} set {fld_name} = '{new_val}' where {c}'''
    #cur.execute(cmd)
    #db.commit()
    print(cmd)

In [57]:
update_record('students', 'name', 'simarjeet singh', id=2)

update students set name = 'simarjeet singh' where id = 2

In [58]:
update_record('students', 'name', 'simarjeet singh', id=2, city='ajmer')

id = 2 and city = 'ajmer'
update students set name = 'simarjeet singh' where id = 2 and city = 'ajmer'

In [59]:
update_record('students', 'name', 'simarjeet singh', id=2, city='ajmer', pincode=308001)

id = 2 and city = 'ajmer' and pincode = 308001
update students set name = 'simarjeet singh' where id = 2 and city = 'ajmer' and pincode = 308001

In [1]:
# Mysql connector

import mysql.connector as sql

In [2]:
db = sql.connect()

In [3]:
print(dir(db))

['__abstractmethods__', '__annotations__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__slots__', '__str__', '__subclasshook__', '__weakref__', '_abc_impl', '_add_default_conn_attrs', '_allow_local_infile', '_allow_local_infile_in_path', '_auth_plugin', '_auth_plugin_class', '_autocommit', '_buffered', '_charset_id', '_check_server_version', '_client_flags', '_client_host', '_client_port', '_cmysql', '_columns', '_compress', '_conn_attrs', '_connection_timeout', '_consume_results', '_converter_class', '_converter_str_fallback', '_database', '_do_handshake', '_execute_query', '_fido_callback', '_force_ipv6', '_get_warnings', '_handshake', '_have_next_result', '_host', '_in_transaction', '_init_command', '_krb_service_principal', '_oci_config_file', '_open_connection', '_password', '_password1', '_password2', '_password3', '_plugin_dir', '_pool_config_version', '_port', '_post_connection', '_prepared_statements', '_query_attrs', '_raise_on_warnings', '_raw', '_server_status', '_server_version', '_sql_mode', '_ssl', '_ssl_active', '_ssl_disabled', '_time_zone', '_unix_socket', '_unread_result', '_use_unicode', '_user', '_validate_tls_ciphersuites', '_validate_tls_versions', 'autocommit', 'can_consume_results', 'charset', 'close', 'cmd_change_user', 'cmd_debug', 'cmd_init_db', 'cmd_ping', 'cmd_process_info', 'cmd_process_kill', 'cmd_query', 'cmd_query_iter', 'cmd_quit', 'cmd_refresh', 'cmd_reset_connection', 'cmd_shutdown', 'cmd_statistics', 'cmd_stmt_close', 'cmd_stmt_execute', 'cmd_stmt_prepare', 'cmd_stmt_reset', 'cmd_stmt_send_long_data', 'collation', 'commit', 'config', 'connect', 'connection_id', 'consume_results', 'converter', 'cursor', 'database', 'disconnect', 'fetch_eof_columns', 'fetch_eof_status', 'free_result', 'get_row', 'get_rows', 'get_self', 'get_server_info', 'get_server_version', 'get_warnings', 'handle_unread_result', 'have_next_result', 'in_transaction', 'info_query', 'is_closed', 'is_connected', 'is_secure', 'isset_client_flag', 'more_results', 'next_result', 'num_rows', 'ping', 'pool_config_version', 'prepare_for_mysql', 'python_charset', 'query_attrs', 'query_attrs_append', 'query_attrs_clear', 'raise_on_warnings', 'reconnect', 'reset_session', 'result_set_available', 'rollback', 'server_host', 'server_port', 'set_allow_local_infile_in_path', 'set_character_set_name', 'set_charset_collation', 'set_client_flags', 'set_converter_class', 'set_login', 'set_unicode', 'sql_mode', 'start_transaction', 'time_zone', 'unix_socket', 'unread_result', 'user', 'warning_count']

In [4]:
help(db)

Help on CMySQLConnection in module mysql.connector.connection_cext object:

class CMySQLConnection(mysql.connector.abstracts.MySQLConnectionAbstract)
 |  CMySQLConnection(**kwargs: Any) -> None
 |
 |  Class initiating a MySQL Connection using Connector/C.
 |
 |  Method resolution order:
 |      CMySQLConnection
 |      mysql.connector.abstracts.MySQLConnectionAbstract
 |      abc.ABC
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, **kwargs: Any) -> None
 |      Initialization
 |
 |  close(self) -> None
 |      Disconnect from the MySQL server
 |
 |  cmd_change_user(self, username: str = '', password: str = '', database: str = '', charset: int = 45, password1: str = '', password2: str = '', password3: str = '', oci_config_file: Optional[str] = None) -> None
 |      Change the current logged in user
 |
 |  cmd_debug(self) -> Any
 |      Send the DEBUG command
 |
 |  cmd_init_db(self, database: str) -> None
 |      Change the current database
 |
 |  cmd_ping(self) -> Any
 |      Send the PING command
 |
 |  cmd_process_kill(self, mysql_pid: int) -> None
 |      Kill a MySQL process
 |
 |  cmd_query(self, query: Union[str, bytes], raw: Optional[bool] = None, buffered: bool = False, raw_as_string: bool = False) -> Union[Dict[str, int], Dict[str, Union[Dict[str, int], List[Tuple[str, int, NoneType, NoneType, NoneType, NoneType, Union[bool, int], int, int]]]], NoneType]
 |      Send a query to the MySQL server
 |
 |  cmd_query_iter(self, statements: Any) -> Any
 |      Send one or more statements to the MySQL server
 |
 |  cmd_quit(self) -> None
 |      Close the current connection with the server
 |
 |  cmd_refresh(self, options: int) -> Optional[Dict[str, int]]
 |      Send the Refresh command to the MySQL server
 |
 |  cmd_reset_connection(self) -> bool
 |      Resets the session state without re-authenticating
 |
 |      Reset command only works on MySQL server 5.7.3 or later.
 |      The result is True for a successful reset otherwise False.
 |
 |      Returns bool
 |
 |  cmd_shutdown(self, shutdown_type: Optional[int] = None) -> None
 |      Shut down the MySQL Server
 |
 |  cmd_statistics(self) -> Dict[str, Union[int, decimal.Decimal]]
 |      Return statistics from the MySQL server
 |
 |  cmd_stmt_close(self, statement_id: _mysql_connector.MySQLPrepStmt) -> None
 |      Closes the prepared statement
 |
 |  cmd_stmt_execute(self, statement_id: _mysql_connector.MySQLPrepStmt, *args: Any) -> Union[Dict[str, int], Dict[str, Union[Dict[str, int], List[Tuple[str, int, NoneType, NoneType, NoneType, NoneType, Union[bool, int], int, int]]]], NoneType]
 |      Executes the prepared statement
 |
 |  cmd_stmt_prepare(self, statement: bytes) -> _mysql_connector.MySQLPrepStmt
 |      Prepares the SQL statement
 |
 |  cmd_stmt_reset(self, statement_id: _mysql_connector.MySQLPrepStmt) -> None
 |      Resets the prepared statement
 |
 |  cmd_stmt_send_long_data(self, statement_id: Any, param_id: Any, data: Any) -> Any
 |      Send data for a column
 |
 |  commit(self) -> None
 |      Commit current transaction
 |
 |  consume_results(self) -> None
 |      Consume the current result
 |
 |      This method consume the result by reading (consuming) all rows.
 |
 |  cursor(self, buffered: Optional[bool] = None, raw: Optional[bool] = None, prepared: Optional[bool] = None, cursor_class: Optional[Type[mysql.connector.cursor_cext.CMySQLCursor]] = None, dictionary: Optional[bool] = None, named_tuple: Optional[bool] = None) -> mysql.connector.cursor_cext.CMySQLCursor
 |      Instantiates and returns a cursor using C Extension
 |
 |      By default, CMySQLCursor is returned. Depending on the options
 |      while connecting, a buffered and/or raw cursor is instantiated
 |      instead. Also depending upon the cursor options, rows can be
 |      returned as dictionary or named tuple.
 |
 |      Dictionary and namedtuple based cursors are available with buffered
 |      output but not raw.
 |
 |      It is possible to also give a custom cursor through the
 |      cursor_class parameter, but it needs to be a subclass of
 |      mysql.connector.cursor_cext.CMySQLCursor.
 |
 |      Raises ProgrammingError when cursor_class is not a subclass of
 |      CursorBase. Raises ValueError when cursor is not available.
 |
 |      Returns instance of CMySQLCursor or subclass.
 |
 |      :param buffered: Return a buffering cursor
 |      :param raw: Return a raw cursor
 |      :param prepared: Return a cursor which uses prepared statements
 |      :param cursor_class: Use a custom cursor class
 |      :param dictionary: Rows are returned as dictionary
 |      :param named_tuple: Rows are returned as named tuple
 |      :return: Subclass of CMySQLCursor
 |      :rtype: CMySQLCursor or subclass
 |
 |  disconnect = close(self) -> None
 |
 |  fetch_eof_columns(self, prep_stmt: Optional[_mysql_connector.MySQLPrepStmt] = None) -> Dict[str, Union[Dict[str, int], List[Tuple[str, int, NoneType, NoneType, NoneType, NoneType, Union[bool, int], int, int]]]]
 |      Fetch EOF and column information
 |
 |  fetch_eof_status(self) -> Optional[Dict[str, int]]
 |      Fetch EOF and status information
 |
 |  free_result(self) -> None
 |      Frees the result
 |
 |  get_row(self, binary: bool = False, columns: Optional[List[Tuple[str, int, NoneType, NoneType, NoneType, NoneType, Union[bool, int], int, int]]] = None, raw: Optional[bool] = None, prep_stmt: Optional[_mysql_connector.MySQLPrepStmt] = None) -> Tuple[Optional[Tuple[Union[float, int, decimal.Decimal, str, bytes, datetime.date, datetime.timedelta, datetime.datetime, Set[str], NoneType], ...]], Dict[str, int]]
 |      Get the next rows returned by the MySQL server
 |
 |  get_rows(self, count: Optional[int] = None, binary: bool = False, columns: Optional[List[Tuple[str, int, NoneType, NoneType, NoneType, NoneType, Union[bool, int], int, int]]] = None, raw: Optional[bool] = None, prep_stmt: Optional[_mysql_connector.MySQLPrepStmt] = None) -> Tuple[List[Tuple[Union[float, int, decimal.Decimal, str, bytes, datetime.date, datetime.timedelta, datetime.datetime, Set[str], NoneType], ...]], Optional[Dict[str, int]]]
 |      Get all or a subset of rows returned by the MySQL server
 |
 |  handle_unread_result(self, prepared: bool = False) -> None
 |      Check whether there is an unread result
 |
 |  info_query(self, query: Union[str, bytes]) -> Optional[Tuple[Union[float, int, decimal.Decimal, str, bytes, datetime.date, datetime.timedelta, datetime.datetime, Set[str], NoneType], ...]]
 |      Send a query which only returns 1 row
 |
 |  is_closed(self) -> bool
 |      Return True if the connection to MySQL Server is closed.
 |
 |  is_connected(self) -> bool
 |      Reports whether the connection to MySQL Server is available
 |
 |  next_result(self) -> Optional[bool]
 |      Reads the next result
 |
 |  ping(self, reconnect: bool = False, attempts: int = 1, delay: int = 0) -> None
 |      Check availability of the MySQL server
 |
 |      When reconnect is set to True, one or more attempts are made to try
 |      to reconnect to the MySQL server using the reconnect()-method.
 |
 |      delay is the number of seconds to wait between each retry.
 |
 |      When the connection is not available, an InterfaceError is raised. Use
 |      the is_connected()-method if you just want to check the connection
 |      without raising an error.
 |
 |      Raises InterfaceError on errors.
 |
 |  prepare_for_mysql(self, params: Union[Dict[str, Union[int, float, decimal.Decimal, str, bytes, bool, datetime.datetime, datetime.date, datetime.time, time.struct_time, datetime.timedelta, NoneType]], Sequence[Union[int, float, decimal.Decimal, str, bytes, bool, datetime.datetime, datetime.date, datetime.time, time.struct_time, datetime.timedelta, NoneType]]]) -> Union[Sequence[bytes], Dict[str, bytes]]
 |      Prepare parameters for statements
 |
 |      This method is use by cursors to prepared parameters found in the
 |      list (or tuple) params.
 |
 |      Returns dict.
 |
 |  reset_session(self, user_variables: Optional[Dict[str, Any]] = None, session_variables: Optional[Dict[str, Any]] = None) -> None
 |      Clears the current active session
 |
 |      This method resets the session state, if the MySQL server is 5.7.3
 |      or later active session will be reset without re-authenticating.
 |      For other server versions session will be reset by re-authenticating.
 |
 |      It is possible to provide a sequence of variables and their values to
 |      be set after clearing the session. This is possible for both user
 |      defined variables and session variables.
 |      This method takes two arguments user_variables and session_variables
 |      which are dictionaries.
 |
 |      Raises OperationalError if not connected, InternalError if there are
 |      unread results and InterfaceError on errors.
 |
 |  rollback(self) -> None
 |      Rollback current transaction
 |
 |  set_allow_local_infile_in_path(self, path: str) -> None
 |      set local_infile_in_path
 |
 |      Set allow_local_infile_in_path.
 |
 |  set_character_set_name(self, charset: str) -> None
 |      Sets the default character set name for current connection.
 |
 |  set_unicode(self, value: bool = True) -> None
 |      Toggle unicode mode
 |
 |      Set whether we return string fields as unicode or not.
 |      Default is True.
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties defined here:
 |
 |  connection_id
 |      MySQL connection ID
 |
 |  in_transaction
 |      MySQL session has started a transaction
 |
 |  more_results
 |      Check if there are more results
 |
 |  num_rows
 |      Returns number of rows of current result set
 |
 |  result_set_available
 |      Check if a result set is available
 |
 |  unread_result
 |      Check if there are unread results or rows
 |
 |  warning_count
 |      Returns number of warnings
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  autocommit
 |      Get whether autocommit is on or off
 |
 |  database
 |      Get the current database
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __abstractmethods__ = frozenset()
 |
 |  __annotations__ = {}
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from mysql.connector.abstracts.MySQLConnectionAbstract:
 |
 |  __enter__(self) -> 'MySQLConnectionAbstract'
 |
 |  __exit__(self, exc_type: 'Type[BaseException]', exc_value: 'BaseException', traceback: 'TracebackType') -> 'None'
 |
 |  config(self, **kwargs: 'Any') -> 'None'
 |      Configure the MySQL Connection
 |
 |      This method allows you to configure the MySQLConnection instance.
 |
 |      Raises on errors.
 |
 |  connect(self, **kwargs: 'Any') -> 'None'
 |      Connect to the MySQL server
 |
 |      This method sets up the connection to the MySQL server. If no
 |      arguments are given, it will use the already configured or default
 |      values.
 |
 |  get_self(self) -> 'MySQLConnectionAbstract'
 |      Return self for weakref.proxy
 |
 |      This method is used when the original object is needed when using
 |      weakref.proxy.
 |
 |  get_server_info(self) -> 'Optional[str]'
 |      Get the original MySQL version information
 |
 |      This method returns the original MySQL server as text. If not
 |      previously connected, it will return None.
 |
 |      Returns a string or None.
 |
 |  get_server_version(self) -> 'Tuple[int, ...]'
 |      Get the MySQL version
 |
 |      This method returns the MySQL server version as a tuple. If not
 |      previously connected, it will return None.
 |
 |      Returns a tuple or None.
 |
 |  isset_client_flag(self, flag: 'int') -> 'bool'
 |      Check if a client flag is set
 |
 |  query_attrs_append(self, value: 'Tuple[str, SupportedMysqlBinaryProtocolTypes]') -> 'None'
 |      Add element to the query attributes list.
 |
 |  query_attrs_clear(self) -> 'None'
 |      Clear query attributes list.
 |
 |  reconnect(self, attempts: 'int' = 1, delay: 'int' = 0) -> 'None'
 |      Attempt to reconnect to the MySQL server
 |
 |      The argument attempts should be the number of times a reconnect
 |      is tried. The delay argument is the number of seconds to wait between
 |      each retry.
 |
 |      You may want to set the number of attempts higher and use delay when
 |      you expect the MySQL server to be down for maintenance or when you
 |      expect the network to be temporary unavailable.
 |
 |      Raises InterfaceError on errors.
 |
 |  set_charset_collation(self, charset: 'Optional[Union[int, str]]' = None, collation: 'Optional[str]' = None) -> 'None'
 |      Sets the character set and collation for the current connection
 |
 |      This method sets the character set and collation to be used for
 |      the current connection. The charset argument can be either the
 |      name of a character set as a string, or the numerical equivalent
 |      as defined in constants.CharacterSet.
 |
 |      When the collation is not given, the default will be looked up and
 |      used.
 |
 |      For example, the following will set the collation for the latin1
 |      character set to latin1_general_ci:
 |
 |         set_charset('latin1','latin1_general_ci')
 |
 |  set_client_flags(self, flags: 'Union[int, Sequence[int]]') -> 'int'
 |      Set the client flags
 |
 |      The flags-argument can be either an int or a list (or tuple) of
 |      ClientFlag-values. If it is an integer, it will set client_flags
 |      to flags as is.
 |      If flags is a list (or tuple), each flag will be set or unset
 |      when it's negative.
 |
 |      set_client_flags([ClientFlag.FOUND_ROWS,-ClientFlag.LONG_FLAG])
 |
 |      Raises ProgrammingError when the flags argument is not a set or
 |      an integer bigger than 0.
 |
 |      Returns self.client_flags
 |
 |  set_converter_class(self, convclass: 'Optional[Type[MySQLConverter]]') -> 'None'
 |      Set the converter class to be used. This should be a class overloading
 |      methods and members of conversion.MySQLConverter.
 |
 |  set_login(self, username: 'Optional[str]' = None, password: 'Optional[str]' = None) -> 'None'
 |      Set login information for MySQL
 |
 |      Set the username and/or password for the user connecting to
 |      the MySQL Server.
 |
 |  start_transaction(self, consistent_snapshot: 'bool' = False, isolation_level: 'Optional[str]' = None, readonly: 'Optional[bool]' = None) -> 'None'
 |      Start a transaction
 |
 |      This method explicitly starts a transaction sending the
 |      START TRANSACTION statement to the MySQL server. You can optionally
 |      set whether there should be a consistent snapshot, which
 |      isolation level you need or which access mode i.e. READ ONLY or
 |      READ WRITE.
 |
 |      For example, to start a transaction with isolation level SERIALIZABLE,
 |      you would do the following:
 |          >>> cnx = mysql.connector.connect(..)
 |          >>> cnx.start_transaction(isolation_level='SERIALIZABLE')
 |
 |      Raises ProgrammingError when a transaction is already in progress
 |      and when ValueError when isolation_level specifies an Unknown
 |      level.
 |
 |  ----------------------------------------------------------------------
 |  Static methods inherited from mysql.connector.abstracts.MySQLConnectionAbstract:
 |
 |  cmd_process_info() -> 'Any'
 |      Get the process list of the MySQL Server
 |
 |      This method is a placeholder to notify that the PROCESS_INFO command
 |      is not supported by raising the NotSupportedError. The command
 |      "SHOW PROCESSLIST" should be send using the cmd_query()-method or
 |      using the INFORMATION_SCHEMA database.
 |
 |      Raises NotSupportedError exception
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties inherited from mysql.connector.abstracts.MySQLConnectionAbstract:
 |
 |  charset
 |      Returns the character set for current connection
 |
 |      This property returns the character set name of the current connection.
 |      The server is queried when the connection is active. If not connected,
 |      the configured character set name is returned.
 |
 |      Returns a string.
 |
 |  collation
 |      Returns the collation for current connection
 |
 |      This property returns the collation name of the current connection.
 |      The server is queried when the connection is active. If not connected,
 |      the configured collation name is returned.
 |
 |      Returns a string.
 |
 |  have_next_result
 |      Return if have next result.
 |
 |  is_secure
 |      Return True if is a secure connection.
 |
 |  python_charset
 |      Returns the Python character set for current connection
 |
 |      This property returns the character set name of the current connection.
 |      Note that, unlike property charset, this checks if the previously set
 |      character set is supported by Python and if not, it returns the
 |      equivalent character set that Python supports.
 |
 |      Returns a string.
 |
 |  query_attrs
 |      Return query attributes list.
 |
 |  server_host
 |      MySQL server IP address or name
 |
 |  server_port
 |      MySQL server TCP/IP port
 |
 |  unix_socket
 |      MySQL Unix socket file location
 |
 |  user
 |      User used while connecting to MySQL
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from mysql.connector.abstracts.MySQLConnectionAbstract:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  can_consume_results
 |      Returns whether to consume results
 |
 |  get_warnings
 |      Get whether this connection retrieves warnings automatically
 |
 |      This method returns whether this connection retrieves warnings
 |      automatically.
 |
 |      Returns True, or False when warnings are not retrieved.
 |
 |  pool_config_version
 |      Return the pool configuration version
 |
 |  raise_on_warnings
 |      Get whether this connection raises an error on warnings
 |
 |      This method returns whether this connection will raise errors when
 |      MySQL reports warnings.
 |
 |      Returns True or False.
 |
 |  sql_mode
 |      Get the SQL mode
 |
 |  time_zone
 |      Get the current time zone

In [5]:
db._host

'127.0.0.1'

In [6]:
db.user

''

In [8]:
db = sql.connect(host='localhost', user='root', password='admin', database='world')

In [9]:
cur = db.cursor()

In [10]:
cur.execute('show tables;')

In [11]:
cur.fetchall()

[('city',), ('country',), ('countrylanguage',), ('users',)]

In [12]:
cur.execute('show databases;')

In [13]:
cur.fetchall()

[('data_analytic',),
 ('information_schema',),
 ('kush_db',),
 ('logicrays',),
 ('meet',),
 ('my_sql_session',),
 ('mysql',),
 ('mysql_python',),
 ('new_sql_db',),
 ('pandasql',),
 ('performance_schema',),
 ('pratap',),
 ('python_530',),
 ('sakila',),
 ('sys',),
 ('univercity',),
 ('world',)]

In [14]:
cur.execute('create database mypythondb;')

In [15]:
cur.fetchall()

[]

In [16]:
cur.execute('show databases;')

In [17]:
cur.fetchall()

[('data_analytic',),
 ('information_schema',),
 ('kush_db',),
 ('logicrays',),
 ('meet',),
 ('my_sql_session',),
 ('mypythondb',),
 ('mysql',),
 ('mysql_python',),
 ('new_sql_db',),
 ('pandasql',),
 ('performance_schema',),
 ('pratap',),
 ('python_530',),
 ('sakila',),
 ('sys',),
 ('univercity',),
 ('world',)]

In [18]:
cur.execute('use mypythondb;')

In [19]:
db.database

'mypythondb'

In [20]:
cur.execute('show tables;')

In [21]:
cur.fetchall()

[]

In [22]:
cur.execute('show databases;')

In [23]:
cur.fetchall()

[('data_analytic',),
 ('information_schema',),
 ('kush_db',),
 ('logicrays',),
 ('meet',),
 ('my_sql_session',),
 ('mypythondb',),
 ('mysql',),
 ('mysql_python',),
 ('new_sql_db',),
 ('pandasql',),
 ('performance_schema',),
 ('pratap',),
 ('python_530',),
 ('sakila',),
 ('sys',),
 ('univercity',),
 ('world',)]

In [24]:
cur.fetchall()

[]

In [25]:
data = [
    {
        'name': 'krupesh',
        'city': 'ahmedabad'
    },
    {
        'name': 'mittul',
        'city': 'ahmedabad'
    },
    {
        'name': 'kapil',
        'city': 'ajmer'
    }
]

In [26]:
n = 0
for d in data:
    n+=1
else:
    print(n)

3

In [28]:
n = 0
for d in data:
    n+=1
    
    keys = list(d.keys())
    keys.insert(0, 'id')
    keys = tuple(keys)
    
    vals = list(d.values())
    vals.insert(0, n)
    vals = tuple(vals)
    
    cmd = f'''insert into tbl_name{keys} values{vals};'''
    print(cmd)

insert into tbl_name('id', 'name', 'city') values(1, 'krupesh', 'ahmedabad');
insert into tbl_name('id', 'name', 'city') values(2, 'mittul', 'ahmedabad');
insert into tbl_name('id', 'name', 'city') values(3, 'kapil', 'ajmer');

In [29]:
cur.execute('create table users(id int, name varchar(25), city varchar(25));')

In [30]:
cur.execute('show tables;')

In [31]:
cur.fetchall()

[('users',)]

In [32]:
n = 0
for d in data:
    n+=1
    
    keys = list(d.keys())
    keys.insert(0, 'id')
    keys = tuple(keys)
    
    vals = list(d.values())
    vals.insert(0, n)
    vals = tuple(vals)
    
    cmd = f'''insert into tbl_name{keys} values{vals};'''
    cur.execute(cmd)
else:
    db.commit()

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''id', 'name', 'city') values(1, 'krupesh', 'ahmedabad')' at line 1

In [33]:
cur.execute('desc users;')

In [34]:
cur.fetchall()

[('id', b'int', 'YES', '', None, ''),
 ('name', b'varchar(25)', 'YES', '', None, ''),
 ('city', b'varchar(25)', 'YES', '', None, '')]

In [35]:
n = 0
for d in data:
    n+=1
    
    keys = list(d.keys())
    keys.insert(0, 'id')
    keys = tuple(keys)
    
    vals = list(d.values())
    vals.insert(0, n)
    vals = tuple(vals)
    
    cmd = f'''insert into users{keys} values{vals};'''
    cur.execute(cmd)
else:
    db.commit()

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''id', 'name', 'city') values(1, 'krupesh', 'ahmedabad')' at line 1

In [41]:
n = 0
for d in data:
    n+=1
    
    keys = list(d.keys())
    keys.insert(0, '''id''')
    s = ''
    for i in keys:
        s += f"{i}, "
        
#     keys = tuple(keys)
    
    vals = list(d.values())
    vals.insert(0, n)
    vals = tuple(vals)
    
    cmd = f'''insert into tbl_name({s}) values{vals};'''
    print(cmd)

insert into tbl_name(id, name, city, ) values(1, 'krupesh', 'ahmedabad');
insert into tbl_name(id, name, city, ) values(2, 'mittul', 'ahmedabad');
insert into tbl_name(id, name, city, ) values(3, 'kapil', 'ajmer');

In [42]:
n = 0
for d in data:
    n+=1
    
    keys = list(d.keys())
    keys.insert(0, '''id''')
    s = ''
    for i in keys:
        s += f"{i},"
        
#     keys = tuple(keys)
    
    vals = list(d.values())
    vals.insert(0, n)
    vals = tuple(vals)
    
    cmd = f'''insert into users({s}) values{vals};'''
    print(cmd)
    cur.execute(cmd)

insert into users(id,name,city,) values(1, 'krupesh', 'ahmedabad');

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ') values(1, 'krupesh', 'ahmedabad')' at line 1

In [43]:
'id,name,city,'

'id,name,city,'

In [44]:
'id,name,city,'[:-1]

'id,name,city'

In [46]:
n = 0
for d in data:
    n+=1
    
    keys = list(d.keys())
    keys.insert(0, '''id''')
    s = ''
    for i in keys:
        s += f"{i},"
        
#     keys = tuple(keys)
    
    vals = list(d.values())
    vals.insert(0, n)
    vals = tuple(vals)
    
    cmd = f'''insert into users({s[:-1]}) values{vals};'''
    print(cmd)
    cur.execute(cmd)

insert into users(id,name,city) values(1, 'krupesh', 'ahmedabad');
insert into users(id,name,city) values(2, 'mittul', 'ahmedabad');
insert into users(id,name,city) values(3, 'kapil', 'ajmer');

In [47]:
cur.execute('select * from users;')

In [48]:
cur.fetchall()

[(1, 'krupesh', 'ahmedabad'),
 (2, 'mittul', 'ahmedabad'),
 (3, 'kapil', 'ajmer')]

In [49]:
n = 0
for d in data:
    n+=1
    
    keys = list(d.keys())
    keys.insert(0, '''id''')
    s = ''
    for i in keys:
        s += f"{i},"
        
#     keys = tuple(keys)
    
    vals = list(d.values())
    vals.insert(0, n)
    vals = tuple(vals)
    
    cmd = f'''insert into users({s[:-1]}) values{vals};'''
    print(cmd)
    cur.execute(cmd)
else:
    db.commit()

insert into users(id,name,city) values(1, 'krupesh', 'ahmedabad');
insert into users(id,name,city) values(2, 'mittul', 'ahmedabad');
insert into users(id,name,city) values(3, 'kapil', 'ajmer');

In [51]:
'hello, my name is \'kapil\' '

"hello, my name is 'kapil' "

In [52]:
cur.execute('select * from users;')
prev_data = cur.fetchall()
n = 0
if len(prev_data):
    n += len(prev_data) + 1
else:
    n = 0

In [53]:
n

7

In [54]:
cur.execute('delete from users where id = 3;')

In [55]:
db.commit()

In [56]:
cur.execute('select * from users;')
prev_data = cur.fetchall()
n = 0
if len(prev_data):
    n += len(prev_data)

print(n)

5

In [2]:
# create function for creating a table

"create table tbl_name(fld_1 dtype, ..);"

# int - int
# str - varchar (max_len)
# float - decimal(0, 2)

dtypes = {
    'int': 'int',
    'str': 'varchar({max_len})',
}

# def create_table(tbl_name, **fields)

# calling: create_table('users', id='int', name='str:25')

In [4]:
dtypes['int']

'int'

In [5]:
dtypes['str']

'varchar({max_len})'

In [7]:
dtypes['str'].format(max_len=25)

'varchar(25)'

In [8]:
fld_1 = 'int'
fld_2 = 'str'

In [9]:
if fld_1 == 'int':
    print(dtypes[fld_1])

int

In [10]:
f_type = input('enter field with type: ')

enter field with type: id='int'

In [11]:
f_type

"id='int'"

In [14]:
dtypes = {
    'int': 'int',
    'str': 'varchar({max_len})',
}

f_type = input('enter field with type: ')

fld = f_type.split('=')[0]
ftype = f_type.split('=')[1]

if ':' in ftype:
    f = ftype.split(':')[0]
    t = ftype.split(':')[1]
    cmd = f'create users({f} {t});'
else:
    ft = dtypes[ftype]
    cmd = f'create users({fld} {ft});'

print(cmd)

enter field with type: name=str:25
create users(str 25);

In [15]:
dtypes = {
    'int': 'int',
    'str': 'varchar({})',
}

f_type = input('enter field with type: ')

fld = f_type.split('=')[0]
ftype = f_type.split('=')[1]

if ':' in ftype:
    ft = ftype.split(':')[0]
    mlen = ftype.split(':')[1]
    
    fld_with_dtype = dtypes[ft].format(mlen)
    
    cmd = f'create users({fld} {fld_with_dtype});'
else:
    ft = dtypes[ftype]
    cmd = f'create users({fld} {ft});'

print(cmd)

enter field with type: name=str:25
create users(name varchar(25));

In [22]:
def create_table(tbl_name, **fields):
    dtypes = {
        'int': 'int',
        'str': 'varchar({})',
    }
    
    for field,ftype in fields.items():
        print(field, ftype)
    
    cmd = f'''create table {tbl_name}()'''

create_table('users', id='int', name={'str': 25})

id int
name {'str': 25}

In [28]:
def create_table(tbl_name, **fields):
    dtypes = {
        'int': 'int',
        'str': 'varchar({})',
    }
    
    flds = ''
    
    for field,ftype in fields.items():
        if type(ftype) == dict:
            ft = list(ftype.keys())[0]
            ft_len = ftype[ft]
            
            ft = dtypes[ft].format(ft_len)
            
            flds += f"{field} {ft},"
        else:
            flds += f"{field} {ftype},"
    
    print(flds)
    
    cmd = f'''create table {tbl_name}()'''

create_table('users', id='int', name={'str': 25})

id int,name varchar(25),

In [30]:
type({'str': 25}) == dict

True

In [32]:
def create_table(tbl_name, **fields):
    dtypes = {
        'int': 'int',
        'str': 'varchar({})',
    }
    
    flds = ''
    
    for field,ftype in fields.items():
        if type(ftype) == dict:
            ft = list(ftype.keys())[0]
            ft_len = ftype[ft]
            
            ft = dtypes[ft].format(ft_len)
            
            flds += f"{field} {ft},"
        else:
            flds += f"{field} {ftype},"
    
    cmd = f'''create table {tbl_name}({flds[:-1]})'''
    
    print(cmd)

create_table('users', id='int', name={'str': 25})

create table users(id int,name varchar(25))

In [33]:
create_table('users', id='int', name={'str': 25}, city={'str': 50}, age='int')

create table users(id int,name varchar(25),city varchar(50),age int)

In [35]:
import mysql.connector as sql
db = sql.connect(host='localhost', user='root', password='admin')
cur = db.cursor()

In [36]:
def create_table(db_name, tbl_name, **fields):
    dtypes = {
        'int': 'int',
        'str': 'varchar({})',
    }
    
    flds = ''
    
    for field,ftype in fields.items():
        if type(ftype) == dict:
            ft = list(ftype.keys())[0]
            ft_len = ftype[ft]
            
            ft = dtypes[ft].format(ft_len)
            
            flds += f"{field} {ft},"
        else:
            flds += f"{field} {ftype},"
    
    cmd = f'''create table {tbl_name}({flds[:-1]})'''
    cur.execute(f'use {db_name}')
    cur.execute(cmd)
    db.commit()
    
    cur.execute('show tables;')
    tbls = cur.fetchall()
    print(tbls)

In [37]:
create_table('mypythondb', 'students', id='int', name={'str': 25}, city={'str': 50}, age='int')

[('students',), ('users',)]